# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
*.env
.env.*
docker-compose.override.yml

# Build output
dist/
build/

# Editor files
.vscode/
.idea/
*.swp

# Misc
*.bak
*.tmp

# Application-specific ignores
handbrake/config1/
handbrake/config2/
handbrake/config3/
handbrake/config4/
handbrake/output/
handbrake/rips/
handbrake/watch1/
handbrake/watch2/
handbrake/watch3/
handbrake/watch4/
jellyfin/cache/
jellyfin/config/
makemkv/config1/
makemkv/config2/
traefik/certs/
