# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
*.env
.env.*
docker-compose.override.yml

# Build output
dist/
build/

# Editor files
.vscode/
.idea/
*.swp

# Misc
*.bak
*.tmp

# Application-specific ignores
*/data/
*/config/
*/config?/
*/cache/
freshrss/extensions/
handbrake/rips/
handbrake/watch?/
tinymediamanager/addons/
tinymediamanager/media/
traefik/certs/
