services:
  adguard:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    container_name: adguard
    ports:
      - 53:53/tcp # DNS
      - 53:53/udp # DNS
      # - 67:67/udp # DHCP
      # - 68:68/tcp # DHCP
      # - 68:68/udp # DHCP
      - 80:80/tcp # HTTP
      - 443:443/tcp # DNS over HTTPS
      - 443:443/udp # DNS over HTTPS
      - 853:853/tcp # DNS over TLS
      - 853:853/udp # DNS over TLS
      # - 3000:3000/tcp # Setup interface
      # - 3000:3000/udp # Setup interface
      # - 5443:5443/tcp # HTTPS alternative
      # - 5443:5443/udp # HTTPS alternative
      - 6060:6060/tcp # Metrics
    restart: unless-stopped


# sudo nsenter -t $(docker inspect -f '{{.State.Pid}}' adguard) -n