services:
  adguard:
    image: docker.io/adguard/adguardhome:v0.107.71
    networks:
      dns:
      public:
        ipv4_address: 172.23.4.53
    volumes:
      - ./data:/opt/adguardhome/work
      - ./conf:/opt/adguardhome/conf
    restart: unless-stopped
    depends_on:
      - unbound

  unbound:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: unbound
    expose:
      - "53/tcp"
      - "53/udp"
    networks:
      dns:
        ipv4_address: 10.53.0.2
    volumes:
      - ./unbound.conf:/usr/local/etc/unbound/unbound.conf:ro
    restart: unless-stopped

networks:
  dns:
    ipam:
      config:
        - subnet: 10.53.0.0/24
  public:
    external: true
