services:
  adguard:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    container_name: adguard
    network_mode: host
    restart: unless-stopped


# sudo nsenter -t $(docker inspect -f '{{.State.Pid}}' adguard) -n